
<h1>Reset Password !! </h1>

<form action="/users/reset" method="POST">
   
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="hidden" name="resetToken" id="tokenInput">
    <input type="submit" value="Submit">

</form>


<script src="/js/reset_password.js"></script>



