
<div>
        <h1>Hello, <%= comment.user.name %>!</h1>
        <br>
        
        <p>Your Commet <strong><%= comment.content %></strong> Just Got Published !!</p>
        
        <br>
        <br>
        <p>Best regards,</p>
        <p>The Codieal Team</p>

</div>
